Architecture_start#########################################
threadnum         2          #use multi PC trace to simulate multi-thread
threadlist        0,1
threadpriority    0,0    #if priority is the same using RR
vtilenum          1
Architecture_end###########################################

#VLC config between VLC_start and VLC_end
VLC_start############################################
depth             2
entrysize         16        # Bytes
outsdng           2         # outstanding number
VLC_end##############################################

#cache config between Cache_start and Cache_end
Cache_start#########################################
cachesize         16x1024
assoc             1         # 1 for direct mapped
blocksize         128       # Bytes
subblocksize      16        # Bytes
hitdelay          1         # cycle
misspenalty       20        # cycle
replacement       1         # 0:RR  1:LRU  2:RANDOM
prefetch          1
Cache_end###########################################
