#This is the Program Memory System Simulator configuration file

Simuli_start#########################################

#Trace         icc_pm_profiling_35525_shift00000000.txt,imc_pm_profiling_35525_shift0001e734.txt,icc_pm_profiling_35515_shift00042f3b.txt,imc_pm_profiling_35515_shift0006166f.txt"
#Assembly      ELBRUS_PCB01_ELBRUS_S00_DOUBLE_ICC_IMC.disasm

Trace         icc.txt,imc.txt
Assembly      ICC_IMC.txt

Simuli_end###########################################


Topology_start#########################################

Topology      vtile                                    #topology_name

Node          VLCFIFO_0@VLC                            #node_name@node_class
Node          VLCFIFO_1@VLC                            #node_name@node_class

Node          SIC@Cache                                #node_name@node_class

Node          SPM@Cache                                 #node_name@node_class

Bus           PBUS@

Bus           AXI@

Port          VLCFIFO_0_PBUS@VLCFIFO_0<=>PBUS   #port_name@Node to Bus
Port          VLCFIFO_1_PBUS@VLCFIFO_1<=>PBUS
Port          SIC_PBUS@SIC<=>PBUS
Port          SIC_AXI@SIC<=>AXI
Port          SPM_AXI@SPM<=>AXI

Topology_end###########################################


Architecture_start#########################################
threadnum         2          #use multi PC trace to simulate multi-thread
threadlist        0,1
threadpriority    0,0        #if priority is the same using RR
vtilenum          1
Architecture_end###########################################

#VLC config between VLC_start and VLC_end
VLC_start############################################
depth             2
entrysize         16        # Bytes
outsdng           2         # outstanding number

VLCFIFO_0_start
Trace_idx         0
VLCFIFO_0_end
VLCFIFO_1_start
Trace_idx         1
VLCFIFO_1_end

VLC_end##############################################

#cache config between Cache_start and Cache_end
Cache_start#########################################
cachesize         16x1024
assoc             1         # 1 for direct mapped
blocksize         128       # Bytes
subblocksize      16        # Bytes
hitdelay          1         # cycle
misspenalty       20        # cycle
replacement       1         # 0:RR  1:LRU  2:RANDOM
prefetch          1
outsdng           2         # outstanding number
Cache_end###########################################
